appdirs==1.4.3
attrs==17.4.0
autocorrect==0.3.0
autokey==0.94.0
Beaker==1.8.1
beautifulsoup4==4.6.0
chardet==3.0.4
click==6.7
cupshelpers==1.0
cycler==0.10.0
docopt==0.6.2
enum34==1.1.6
Flask==0.12.2
gufw==18.4.0
gunicorn==19.7.1
idna==2.6
isc==2.0
itsdangerous==0.24
Jinja2==2.10
louis==3.4.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.1
numpy==1.14.1
packaging==16.8
pandas==0.22.0
pandas-ml==0.5.0
pipreqs==0.4.9
pluggy==0.6.0
psutil==5.4.3
py==1.5.2
pycairo==1.16.2
pycups==1.9.73
pycurl==7.43.0.1
pygobject==3.26.1
pyinotify==0.9.6
pyparsing==2.2.0
pysmbc==1.0.15.8
pytest==3.4.1
python-dateutil==2.6.1
python-xapp==1.0.0
python-xlib==0.21
pytz==2017.3
pyxdg==0.25
Reflector==2018.3.3.22.1.34
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
setproctitle==1.1.10
six==1.11.0
team==1.0
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.14.1
yarg==0.1.9
